APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=microservice_secret_database
DB_PORT=3306
DB_DATABASE=finding_secrets
DB_USERNAME=secret
DB_PASSWORD=mysecret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
